export(Bigram2Frequency)
export(CalculateBigramStats)
export(CalculateUnigramStats)
export(ChunkNGrams)
export(ConvertBigrams2Frequencies)
export(ConvertStrings2Bigrams)
export(ConvertStrings2Unigrams)
export(ConvertUnigrams2Frequencies)
export(String2Bigram)
export(SumAndMeanBigrams)
export(SumAndMeanUnigrams)
export(Unigram2Frequency)
